<?php return array(
    'includes' => array('_aws'),
    'services' => array(
        'default_settings' => array(
            'params' => array(
                'key'    => '...',
                'secret' => '...',
                'region' => 'us-west-2'
                )
            )
        )
    );
?>
